# Ignore build directories
**/build

# Ignore files created through cmake
EnergyComms.cxx
EnergyComms.hpp
EnergyCommsPlugin.cxx
EnergyCommsPlugin.hpp
EnergyComms_timestamp.cmake

# Ignore emacs temporary files
\#*\#
.\#*

# Ignore glade temporary files
*.glade~
